<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>lnkSnip</title>
  <link rel="stylesheet" href="/stylesheets/homee.css" />
  <a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons"></a>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");
  </style>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <div class="navMain">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"><img src="/images/logo.png" alt="Logo" class="codeminess-logo" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Contacts">Contacts</a>
          </li>
          <% if (locals.name) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Welcome, <%= locals.name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/logout">Sign Out</a>
              </div>
            </li>
            <% } else { %>
              <li class="nav-item">
                <a class="nav-link" href="/signUp">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <% } %>
        </ul>
      </div>
    </nav>
  </div>

  <div class="paragraphs">
    <h1 class="headings" id="home">What do we do ?</h1>
    <p>
      A link shortening service is an online tool that takes a long URL
      (Uniform Resource Locator) and converts it into a shorter, more
      manageable link. These services are particularly useful for simplifying
      complex URLs, making them easier to share, remember, and fit within
      character limits on social media platforms.
    </p>
  </div>
  <div class="url-box">
    <h2 class="url-heading">LnkSnip</h2>
    <!-- Form rendering -->
    <form method="POST" action="api/createId">
      <label for="url-input" id="input-label">Enter your link here :</label>
      <input type="text" name="url" placeholder="Enter full link- https://xyz.com" class="url-input" />
      <div>
        <button type="submit" class="buttons" id="submit-btn">Generate</button>
        <button type="reset" class="buttons" id="reset-btn">clear</button>
      </div>
    </form>

    <!-- Table containing the URLs -->
    <% if (locals.urls) { %>
      <table class="link-history">
        <% if(urls && urls.length> 0) { %>
          <thead>
            <tr>
              <th>S No.</th>
              <th>Short Id</th>
              <th>Url</th>
              <th>Total Clicks</th>
            </tr>
          </thead>
          <tbody>
            <% urls.forEach((url, index)=> { %>
              <tr>
                <td>
                  <%= index + 1 %>
                </td>
                <td>
                  <%= url.shortId %>
                </td>
                <td>
                  <%= url.url %>
                </td>
                <td>
                  <%= url.clicks %>
                </td>
              </tr>
              <% }); %>
          </tbody>
          <% } else { %>
            <tr>
              <td colspan="4">No URLs to show</td>
            </tr>
            <% } %>
      </table>
      <% } %>

  </div>

  <br>
  <div class="paragraphs">
    <h1 class="headings" id="AboutUs">How It Works ?</h1>
    <div class="tutorial-paragraph">
      <ul class="tutorial-list">
        <li>
          Input the Long URL: Users provide the original, lengthy URL they
          want to shorten.
        </li>
        <li>
          Generate Short Link: The service generates a new, shorter URL that
          redirects to the original link when clicked.
        </li>
        <li>
          Share the Short Link: Users can then share this short link through
          various channels such as social media, email, or messaging apps.
        </li>
        <li>
          Redirecting the Link: To access the original link, users should use
          the following format for the shortened URL: 
          <code>lnksnip.onrender.com/shortid(generated)</code>.
        </li>
      </ul>
      <div class="card" style="width: 1rem">
        <video class="card-img-top" controls>
          <source src="/media" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div class="card-body">
          <h5 class="card-title">Video Tutorial - coming soon, stay connected</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="paragraphs">
    <h1 class="headings" id="AboutUs">Key Features</h1>
    <div class="features-grid">
      <div class="feature-box">
        <img src="/images/custom.svg" alt="customizable">
        <p>Create short links with custom aliases.</p>
      </div>
      <div class="feature-box">
        <img src="/images/history.svg" alt="history">
        <p>Track your link shortening history</p>
      </div>
      <div class="feature-box">
        <img src="/images/fast.svg" alt="fast">
        <p>Generate short links quickly .</p>
      </div>
      <div class="feature-box">
        <img src="/images/time.svg" alt="time">
        <p>No expiration dates for short links.</p>
      </div>
      <div class="feature-box">
        <img src="/images/free-easy.svg" alt="free">
        <p>Use free and easily manage your short links.</p>
      </div>
    </div>
  </div>
  <div class="paragraphs" id="contact-us te">
    <div class="container" id="Contacts">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact Us</h2>
          <h3 class="section-subheading text-muted">Find out more.</h3>
          <hr />
          <p>codemines8@gmail.com</p>
          <p>Durgapur, West Bengal, India</p>
          <hr />
          <a class="btn btn-primary" href="mailto:codemines8@gmail.com">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="paragraphs">
      <div class="container">
        <ul class="container-list">
          <li class="container-items">
            <span class="copyright">Copyright © CodeMineSS<sup>®</sup> 2024</span>
          </li>
          <li class="container-items">
            <ul class="social-handles">
              <li class="social-handle-items">
                <a href="https://www.instagram.com/im.pritammm_?igsh=NnRoMTU4dm13cnJ0" target="_blank"><img src="/images/instagram.png" alt="Instagram" /></a>
              </li>
              <li class="social-handle-items">
                <a href="https://t.me/PinkuModi" target="_blank"><img src="/images/telegram.png" alt="Telegram" /></a>
              </li>
              <li class="social-handle-items">
                <a href="#" ><img src="/images/twitter.png" alt="Twitter" /></a>
              </li>
              <li class="social-handle-items">
                <a href="https://www.linkedin.com/in/pinku-modi-bbb0472bb" target="_blank"><img src="/images/linkedin.png" alt="LinkedIn" /></a>
              </li>
            </ul>
          </li>
          <li class="container-items">
            <span><a href="#">Privacy Policy</a></span>
          </li>
          <li class="container-items">
            <span><a href="#">Terms of Use</a></span>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <hr />
  <script> 
  // script for table buttons to copy shortlink
    document.addEventListener('DOMContentLoaded', () => {
      const copyButtons = document.querySelectorAll('.copy-btn');

      copyButtons.forEach(button => {
        button.addEventListener('click', () => {
          const link = button.getAttribute('data-link');
          const tempInput = document.createElement('input');
          tempInput.value = link;
          document.body.appendChild(tempInput);
          tempInput.select();
          document.execCommand('copy');
          document.body.removeChild(tempInput);
          alert('Short link copied to clipboard!');
        });
      });
    });

  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="script.js"></script>
</body>

</html>